<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <!-- Include Bootstrap CSS for form styles and alerts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'fonts/login.ico' %}" type="image/x-icon">
</head>
<body>
    <video autoplay muted loop id="video-bg">
        <source src="{% static 'img/background.mp4' %}" type="video/mp4">
        <!-- Add more <source> for other video formats -->
        Your browser does not support the video element.
    </video>
    <div class="container mt-5">
        <h2 class="mb-4" style="color: white;">Iniciar Sesión</h2>
        
        <!-- Error Message Alerts -->
        {% for message in messages %}
            <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="error-message">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}       
        
        
        <form id="msform" method="post">
            {% csrf_token %}
            <fieldset>
                <h2 class="fs-title">Ingresa tus datos</h2>
                <input type="text" name="username" placeholder="Nombre de usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="action-button btn btn-primary">Iniciar Sesión</button>
                <p class="mt-3">¿No tienes una cuenta? <a href="/signup/">Regístrate aquí</a></p>
            </fieldset>
        </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js via CDN -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Ajusta la posición de la alerta al centrarla verticalmente sobre el formulario
        $(document).ready(function() {
            var formHeight = $('.container').height();
            var alertHeight = $('#error-alert').height();
            var marginTop = (formHeight - alertHeight) / 2;
            $('#error-alert').css('margin-top', marginTop + 'px');
        });
    </script>
</body>
</html>


